*.swp
*.iml
*.class
.idea
target
*/target

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.xml
.settings
.project
.classpath
.bpmn
core/.xml
felix-cache
.metadata
test-support/.externalToolBuilders
test-support/maven-eclipse.xml
