<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference-list id="provisionrServices" interface="com.axemblr.provisionr.api.Provisionr"/>

    <bean id="poolClient" class="com.axemblr.provisionr.client.ProvisionrClient"
          init-method="init">
        <argument ref="provisionrServices"/>
    </bean>
</blueprint>
