# Register repositories and refresh index

define apt::repository (
  $content,
  $key,
  $apt_sources_dir = "/etc/apt/sources.list.d"
) {
  file { "apt::repository ${name}":
    path    => "${apt_sources_dir}/${name}.list",
    content => "${content}\n",
    owner   => root,
    group   => root,
    mode    => 0644,
    ensure  => present
  }
  file { "/tmp/${name}.key":
    content => "${key}"
  }
  exec { "apt-key add ${name}":
    command => "/usr/bin/apt-key add /tmp/${name}.key",
    unless  => "/usr/bin/apt-key list | /bin/grep -c ${name}",
    require => File["/tmp/${name}.key"],
  }
  exec { "apt-get update ${name}":
    command => "/usr/bin/apt-get update",
    require => [Exec["apt-key add ${name}"], File["apt::repository ${name}"]]
  }
}

{{#repositories}}
apt::repository { "{{name}}":
  content => "{{content}}\n",
  key => "{{key}}"
}
{{/repositories}}



