<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="processEngine" interface="org.activiti.engine.ProcessEngine"/>

    <bean id="cloudstackService" class="com.axemblr.provisionr.cloudstack.CloudStackProvisionr">
        <argument ref="processEngine"/>
    </bean>

    <service ref="cloudstackService" interface="com.axemblr.provisionr.api.Provisionr"/>

    <bean id="cloudstack_ensureSecurityGroupExists"
          class="com.axemblr.provisionr.cloudstack.activities.EnsureSecurityGroupExists"/>
    <service ref="cloudstack_ensureSecurityGroupExists"
             auto-export="interfaces"/>

    <bean id="cloudstack_deleteSecurityGroup"
          class="com.axemblr.provisionr.cloudstack.activities.DeleteSecurityGroup"/>
    <service ref="cloudstack_deleteSecurityGroup" auto-export="interfaces">
    </service>
    <bean id="cloudstack_ensureKeyPairExists"
          class="com.axemblr.provisionr.cloudstack.activities.EnsureKeyPairExists"/>
    <service ref="cloudstack_ensureKeyPairExists" auto-export="interfaces">
    </service>

    <bean id="cloudstack_deleteKeyPair"
          class="com.axemblr.provisionr.cloudstack.activities.DeleteKeyPair"/>
    <service ref="cloudstack_deleteKeyPair" auto-export="interfaces">
    </service>

</blueprint>