<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

    <ext:property-placeholder/>

    <cm:property-placeholder persistent-id="com.axemblr.provisionr.activiti"
                             placeholder-prefix="$(" placeholder-suffix=")" update-strategy="reload">
        <cm:default-properties>
            <cm:property name="db.url" value="jdbc:h2:mem:axemblr;DB_CLOSE_DELAY=-1"/>
            <cm:property name="db.user" value="sa"/>
            <cm:property name="db.password" value=""/>
            <cm:property name="db.schemaUpdate" value="true"/>
        </cm:default-properties>
    </cm:property-placeholder>

    <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource" scope="singleton">
        <property name="URL" value="$(db.url)"/>
        <property name="user" value="$(db.user)"/>
        <property name="password" value="$(db.password)"/>
    </bean>

    <bean id="configurationFactory" class="org.activiti.osgi.blueprint.ConfigurationFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="databaseSchemaUpdate" value="$(db.schemaUpdate)"/>
        <property name="jobExecutorActivate" value="true"/>
    </bean>

    <bean id="configuration" factory-ref="configurationFactory" factory-method="getConfiguration"/>

    <bean id="processEngineFactory"
          class="org.activiti.osgi.blueprint.ProcessEngineFactoryWithELResolver"
          init-method="init"
          destroy-method="destroy">

        <property name="processEngineConfiguration" ref="configuration"/>
        <property name="bundle" ref="blueprintBundle"/>
        <property name="blueprintELResolver" ref="blueprintELResolver"/>
    </bean>

    <bean id="processEngine" factory-ref="processEngineFactory"
          factory-method="getObject"/>

    <bean id="runtimeService" factory-ref="processEngine" factory-method="getRuntimeService"/>
    <bean id="repositoryService" factory-ref="processEngine" factory-method="getRepositoryService"/>

    <reference-list id="activityProviders" availability="optional"
                    interface="org.activiti.engine.delegate.JavaDelegate"
                    activation="eager">
        <reference-listener ref="blueprintELResolver" bind-method="bindService" unbind-method="unbindService"/>
    </reference-list>

    <bean id="blueprintELResolver" class="org.activiti.osgi.blueprint.BlueprintELResolver"/>

    <service ref="processEngine" interface="org.activiti.engine.ProcessEngine"/>
    <service ref="runtimeService" interface="org.activiti.engine.RuntimeService"/>
    <service ref="repositoryService" interface="org.activiti.engine.RepositoryService"/>

</blueprint>

