<?xml version="1.0" encoding="windows-1252"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:shell="http://karaf.apache.org/xmlns/shell/v1.0.0"
           xmlns:cfg="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0">

    <shell:command-bundle>
        <shell:command name="provisionr/list">
            <shell:action class="com.axemblr.provisionr.commands.ListCommand"/>
        </shell:command>
    </shell:command-bundle>
</blueprint>