<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="processEngine" interface="org.activiti.engine.ProcessEngine"/>
    <bean id="amazonService" class="com.axemblr.provisionr.amazon.AmazonProvisionr">
        <argument ref="processEngine"/>
    </bean>
    <service ref="amazonService" interface="com.axemblr.provisionr.api.Provisionr"/>

    <bean id="amazon_ensureSecurityGroupExists"
          class="com.axemblr.provisionr.amazon.activities.EnsureSecurityGroupExists"/>
    <service ref="amazon_ensureSecurityGroupExists" auto-export="interfaces"/>

    <bean id="amazon_deleteSecurityGroup"
          class="com.axemblr.provisionr.amazon.activities.DeleteSecurityGroup"/>
    <service ref="amazon_deleteSecurityGroup" auto-export="interfaces"/>

    <bean id="amazon_ensureKeyPairExists"
          class="com.axemblr.provisionr.amazon.activities.EnsureKeyPairExists"/>
    <service ref="amazon_ensureKeyPairExists" auto-export="interfaces"/>

    <bean id="amazon_deleteKeyPair"
          class="com.axemblr.provisionr.amazon.activities.DeleteKeyPair"/>
    <service ref="amazon_deleteKeyPair" auto-export="interfaces"/>

    <bean id="amazon_runOnDemandInstances"
          class="com.axemblr.provisionr.amazon.activities.RunOnDemandInstances"/>
    <service ref="amazon_runOnDemandInstances" auto-export="interfaces"/>

    <bean id="amazon_terminateInstances"
          class="com.axemblr.provisionr.amazon.activities.TerminateInstances"/>
    <service ref="amazon_terminateInstances" auto-export="interfaces"/>

    <bean id="amazon_checkAllInstancesAreRunning"
          class="com.axemblr.provisionr.amazon.activities.CheckAllInstancesAreRunning"/>
    <service ref="amazon_checkAllInstancesAreRunning" auto-export="interfaces"/>

    <bean id="amazon_checkAllInstancesAreTerminated"
          class="com.axemblr.provisionr.amazon.activities.CheckAllInstancesAreTerminated"/>
    <service ref="amazon_checkAllInstancesAreTerminated" auto-export="interfaces"/>

</blueprint>                     